@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

.container {
    /* border: solid 1px red; */
    margin: auto;
    width: 90%;
}
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Josefin Sans',sans-serif;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: url(./images/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.logo {
    z-index: 2;
}
.logo img {
    display: block;
}
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em 0 0 0;
}
.top-nav nav {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1;
}
.top-nav ul {
    position: inherit;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 2rem;
    text-transform: uppercase;
}
.top-nav li {
    margin: 1.5rem 0 0 0;
}
.top-nav a:hover {
    color: hsl(0, 0%, 55%);
}
.top-nav label {
    z-index: 2;
}
#show-nav {
    display: none;
    
}
#show-nav:checked ~ nav {
    display: flex;
}
#show-nav:checked ~ label img {
    opacity: 0;
}
#show-nav:checked ~ label {
    background: url(./images/icon-close.svg) no-repeat;
}

.hero {
    flex-basis: 100%;
    position: relative;
}
.hero > div {
    position:absolute;
    top: 45%;
    transform: translateY(-45%);
    border: solid 2px white;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 32px;
    font-size: 2.8em;
    overflow-wrap: break-word;
    /* Font error fix(font has additional padding bottom) */
    padding-bottom: 24px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    width: 100%;
    margin: 1rem auto;
}
.first-section-image img {
    display: block;
    width: 100%;
    height: auto;
}
.first-section-text {
    width: 85%;
    margin: 0 auto;
}

.heading { 
    font-family: 'Josefin Sans',sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    overflow-wrap: break-word;
}

.first-section-text > h2 { 
    margin: 3rem 0 1.85rem;
    overflow-wrap: break-word;
}
.first-section-text p {
    font-family: 'Alata',sans-serif;
    text-align: center;
    color: hsl(0,0%,55%);
    font-size:1rem;
    line-height: 1.5rem; 
}

.second-section {
    margin-bottom: 5rem;
}
.second-section > h2 {
    margin-bottom: 2.5rem; 
}
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    gap: 1.5rem;
}
.card-container h2 {
    text-transform: uppercase;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
    font-size: 1.50rem;
    color: white;
    width: 45%;
    height: 100%;
    padding: 1.8em 0 0.8em 0.8em;
    background-image: linear-gradient(to right,rgba(0,0,0,0.6),rgba(0,0,0,0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.deep-earth {
    background: url('./images/mobile/image-deep-earth.jpg') ; 
}
.night-arcade {
    background: url('./images/mobile/image-night-arcade.jpg') ;
}
.soccer-team {
    background: url('./images/mobile/image-soccer-team.jpg') ;
}
.the-grid {
    background: url('./images/mobile/image-grid.jpg') ;
}
.from-above {
    background: url('./images/mobile/image-from-above.jpg') ;
}
.pocket-borealis {
    background: url('./images/mobile/image-pocket-borealis.jpg') ;
}
.curiosity {
    background: url('./images/mobile/image-curiosity.jpg') ;
}
.fisheye {
    background: url('./images/mobile/image-fisheye.jpg') ;
}

.card-container > div {
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section > div:last-child button {
    display: block;
    margin: auto;
    border: solid 2px black;
    font-family: 'Alata', sans-serif;
    font-size:0.95rem;
    letter-spacing: 0.35rem;
    padding: 0.6em 2.6em;
    text-transform: uppercase;
    background-color: white;
    transition: all 250ms ease;
    cursor: pointer;
    margin-top: 2rem;
    outline: none;
}
.second-section > div:last-child button:hover { 
    background-color: black;
    color: white;
}


/*Do Footer*/
footer {
    width: 100%;
    font-family: 'Alata', sans-serif;
    padding: 3rem;
    background-color: black;
}
footer > div > img {
    display: block;
    margin: auto;
}
.nav-links {
    margin: 2rem auto;
}
.nav-links > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-links > ul > li {
    margin-bottom: 1.5rem;
}
.nav-links > ul > li:last-child {
    margin-bottom: 0;
}
.social-links {
    margin: 1.5rem auto;
}
.social-links > ul {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}
.social-links > ul > li > a > img {
    display: block;
}
.copyright {
    text-align:center;
    color: hsl(0,0%,55%);
}










